<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NimbusAttributedLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NimbusBadge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NimbusCollections.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NimbusCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NimbusInterapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NimbusLauncher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>NimbusModels.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>NimbusOverview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>NimbusPagingScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>NimbusTextField.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C9050DB1E65B66E00B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9050E41E65B66E00B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9050F81E65B69700B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9051001E65B69800B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9051201E65B78900B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9051281E65B78900B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9051501E65B7D000B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9051581E65B7D000B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9051C41E65B81100B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9051CC1E65B81100B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9051E41E65B84400B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9051EC1E65B84400B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9052181E65B86600B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9052201E65B86700B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C90525E1E65B8E300B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9052661E65B8E300B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C90529A1E65B9CB00B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9052A21E65B9CB00B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9052C01E65BA8800B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9052C81E65BA8800B95641</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
